# Dependências principais para o pipeline de RAG (Docling + ChromaDB + Ollama)
# O torch, devido a complicações, será sempre instalado manualmente. cuda12.x

# Dependências de processamento de documentos
docling>=2.93.0
pypdf>=6.11.0

# SGBD:
chromadb>=1.5.0

# Utils
tqdm>=4.67.0

# Dependência de gerenciamento de variáveis de ambiente
python-dotenv

# Estrutura Langchain
langchain
langgraph
langchain-ollama
langchain-openai
langchain-xai
langchain-community

# Estrutura LlamaIndex
llama-index
llama-index-llms-ollama
llama-index-embeddings-ollama
llama-index-vector-stores-chroma
